* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  background-color: rgba(249,249,249, 0.1);
  font: bold 2rem 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.todo {
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 15px;
}

.todo_header {
  display: flex;
  background-color: #f44336;
  width: 100%;
  height: 9rem;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  margin-bottom: 2em;
  box-shadow: 1px 1px 5px #0F0F0B;
  border-radius: 0.5em 2em;
}

.todo_header h1 {
  font-size: 3rem;
  color: #f9f9f9;
}

.todo_list {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

.todo_item{
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin-top: 1em;
  box-shadow: 1px 1px 5px #0F0F0B;
  background-color: #d9d9d9;
  border-radius: 5px;
}
.todo_item > div {
  width: 80%;
}
.todo_item:hover {
  cursor: pointer;
  transition: all .5s ease;
  background-color: rgba(0, 0, 0, 0.7);
  color: #d4d4d4;
}

.todo_item > input[type='text'] {
  border: none;
  width: 80%;
  font: inherit;
}

.todo_item > input[type='button'],
.todo_item > input[type='checkbox'] {
  width: 30px;
  height: 30px;
  font: inherit;
}

.todo_item > input[type='checkbox']:checked  + div {
  text-decoration: line-through;
}

.todo_item > input[value="X"]:hover{
  color:#c44f4f;
  cursor: pointer;
}

.todo_item #text_item{
  color: rgb(22, 22, 22);
  padding: 0.5em;
}

.todo_new-item{
  display: flex;
  background-color: #807d6b;
  width: 100%;
  height: 70px;
  justify-content: space-evenly;
  padding: 10px 0;
  box-shadow: 1px 1px 5px #0F0F0B;
  margin: 10px;
  font: inherit;
}

.todo_new-item > input{
  background-color: #807d6b;
  border: none;
  width: 80%;
  outline: none;
  font: inherit;
}

.todo_new-item > input::placeholder {
  font-style: italic;
  font-weight: normal;
  color: #000;
}